<div id="imageCarousel" class="carousel slide mb-4" data-ride="carousel">
  <div class="carousel-inner">
    {% assign images = site.data.[gallery].images %} {% for img in images %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img
        src="{{ '/assets/img/gallery/' | append: img.file_name | relative_url }}"
        class="d-block w-100"
        alt="Image description {{ img.image }} - {{ '/assets/img/gallery/' | append: img.file_name | relative_url }}"
      />
      {% if img.description %}
      <div
        class="carousel-caption d-none d-md-block"
        style="background-color: rgba(255, 255, 255, 0.5); padding: 0; width: 100%; left: 50%; transform: translateX(-50%); bottom: 60px"
      >
        <h5 style="margin: 0.7em; text-align: center; color: rgba(65, 65, 65, 1); font-size: 1.5rem">{{ img.description }}</h5>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <ol class="carousel-indicators">
    {% for img in images %}
    <li data-target="#imageCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
</div>
