/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  max-width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

/* Base header styling with dynamic font sizes */
h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; /* Optional margin adjustment */
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Dynamically adjusts between 1.5rem and 3.5rem */
}

h2 {
  font-size: clamp(1.25rem, 4vw, 2rem); /* Dynamically adjusts between 1.25rem and 3rem */
}

h3 {
  font-size: clamp(1rem, 3.5vw, 1.5rem); /* Dynamically adjusts between 1rem and 2.5rem */
}

h4 {
  font-size: clamp(0.875rem, 3vw, 1rem); /* Dynamically adjusts between 0.875rem and 2rem */
}

h5 {
  font-size: clamp(0.75rem, 2.5vw, .85rem); /* Dynamically adjusts between 0.75rem and 1.5rem */
}

h6 {
  font-size: clamp(0.625rem, 2vw, 0.85rem); /* Dynamically adjusts between 0.625rem and 1rem */
}


body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;  // Makes the image circular
    object-fit: cover;   // Ensures the image content fills the circular area
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
