// Profile styles modularized from _base.scss and _layout.scss
.profile {
  width: 100%;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  .more-info {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;
    p {
      display: inline-block;
      margin: 0;
    }
  }
}
.profile.float-right {
  margin-left: 1rem;
}
.profile.float-left {
  margin-right: 1rem;
}
@media (min-width: 576px) {
  .profile {
    width: 30%;
    .address {
      p {
        display: block;
      }
    }
  }
}
@media (max-width: 575px) {
  .profile {
    margin: 0.5rem;
  }
}
