/* Increase font size specifically for the About page */
/* Font Size Scaling Using clamp() to fix for phone... attempt #1 */
#about-page .post-title,
/* Use .about-page class instead of #about-page for all selectors */
.about-page .post-title,
.about-page #news {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin: 1rem 0;
}

.about-page p,
.about-page td,
.about-page th,
.about-page .post-description,
.about-page .contact-note {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin: 1rem 0;
}

.about-page #news table {
  width: 100%;
  overflow-x: auto;
  margin: 0;
}

.about-page #news table th,
.about-page #news table td {
  padding: 0.5rem;
  word-wrap: break-word;
  margin: 0;
}

.about-page .container,
.about-page .site {
  max-width: clamp(70%, 90%, 100%) !important;
  margin: 0 auto;
}
#about-page {
  margin: 0 auto;
}

/* .about-page .table-responsive .table a:hover {
  color: blue !important;
  text-decoration: underline !important;
} */

/* content below profile image */
.about-page .address,
.about-page .address a,
.about-page .address .name {
  font-size: clamp(0.85rem, 2vw, 1rem);
}
/* Make profile position and address smaller */
.about-page .address .name,
.about-page .address br + span,
.about-page .address a,
.about-page .address .profile-position,
.about-page .address .post,
.about-page .address .card-subtitle {
  font-size: clamp(0.8rem, 1.5vw, 0.95rem);
}
